
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alteração de Usuário</title>

  <link rel="stylesheet" href="/css/estilo2.css">

  
</head>

  
<body>
  <h1>Alteração de Usuário</h1>

  <form action="/alteracao/<%= usuario.id %>" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="<%= usuario.nome %>" required><br>

    <label for="senha">Nova Senha:</label>
    <input type="password" name="senha" required><br>

    <label for="perfil">Perfil:</label>
    <input type="text" name="perfil" value="<%= usuario.perfil %>" required><br>

    <button type="submit">Salvar Alterações</button>
  </form>

  <a href="/busca">Voltar à Busca</a>
</body>
</html>
