<!-- views/exclusao.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exclusão de Usuário</title>
  <link rel="stylesheet" href="/css/estilo3.css">
  
</head>
<body>
  <h1>Excluir Usuário</h1>

  <% if (usuario) { %>
    <p>Deseja excluir ?:</p>
    <ul>
      <li>Login: <%= usuario.login %></li>
      <li>Nome: <%= usuario.nome %></li>
    </ul>

    <form action="/exclusao/<%= usuario.id %>" method="post">
      <button type="submit">Excluir</button>
    </form>
  <% } else { %>
    <p>Não foi encontrado Usuário.</p>
  <% } %>

  <a href="/busca">Voltar</a>
</body>
</html>
